# Hidden 
*Wifi.h*
*defines.h*
#*DAIG*
#*DAIG*.*
*.backup
*backup*
#*CYD_Pangolin_TCMenu_master*
#*CYD_PangolinMQTT_I2C*
*DIAG_HSI_exerciser*

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# backups
*.*~

software/backup
software/CYD_Multi
software/IntegrantsMaster/data
software/IntegrantsMaster/data-old

